{% extends 'base.html' %}

{% block header %}
<div class="container">
    <div class="alert alert-dark" role="alert">
      <p class="lead">にゅうりょくしたやることをへんしゅうできます</p>
    </div>
</div>
{% endblock %}

{% block content %}
<!-- formで入力させる際は、セキュリティのため{% csrf_token %}をformタグの中に記載する -->
<div class="container">
    <div class="alert alert-success" role="alert">
        <form action="" method="POST">{% csrf_token %} 
            <p>{{ form.title }}</p>
            <p>{{ form.memo }}</p>
            <p>{{ form.priority }}</p>
            <p>{{ form.duedate }}</p> 
            <input class="btn btn-outline-success" type="submit" value="へんこう">
        </form>
    </div>
</div>
{% endblock content %}